<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="recipe-core">
            <directory>vendor/silverstripe/framework/tests</directory>
            <directory>vendor/silverstripe/assets/tests</directory>
            <directory>vendor/silverstripe/config/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
